body, html, #app {
  height: 100%;
}
body {
  background-color: #efefef;
  font-family: 'PT Serif', serif;
}

#app > div {
  display: flex;
  justify-content: center;
}

main {
  width: 80%;
  background-color: #5fcf80;
  border-radius: 1em;
  padding: 1em;
}

.multiple-choice {
  display: flex;
}

.multiple-choice__item {

}
